<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div class="card-body">
    <h5 class="card-title">{{ click_user.username }}</h5>
    <p class="card-text"> {{ click_user.bio }}</p>
    {% if show_my_board == 1 %}
        <a href="/my-page/profile-modify" class="card-link">[프로필 수정]</a>
    {% endif %}


</div>

{% for board in board_list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ board.title }}</h5>
            <p class="card-text">
                등록 시간 {{ board.created_at }} , 수정 시간 {{ board.updated_at }}
            </p>
            {% if show_my_board == 1 %}
                <a href=# class="card-link">[수정]</a>
                <a href=# class="card-link">[삭제]</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

</body>
</html>